/* Set the size of the div element that contains the map */
#map {
	height: 500px; /* The height is 500 pixels */
	width: 100%; /* The width is the width of the web page */
	display: block;
	margin-bottom: 20px;
}

#photo {
    background: url("https://images.unsplash.com/photo-1552380159-55fd9f132843?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80") no-repeat center fixed;

    background-size: cover;
}

#menuBack{
    background: url("https://images.unsplash.com/photo-1579042877201-21342f2083a5?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=934&q=80") no-repeat center fixed;

    background-size: cover;
}